apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - bootstrap-provider.yaml
  - controlplane-provider.yaml
  - core-provider.yaml
  - infrastructure-provider.yaml
  - namespace-cabpt-system.yaml
  - namespace-cacppt-system.yaml
  - namespace-capi-system.yaml
  - namespace-sidero-system.yaml
  - sidero-config-secret.yaml
patches:
  - path: patches/namespace-capi-operator-system.json
    target:
      version: v1
      kind: Namespace
      name: capi-operator-system
